<div class="container mt-3">
  <div class="row">
    <div class="col-9">
      <h3 class="mt-3">Cargos</h3>
    </div>
    <div class="col-3 text-end">
      <%= link_to "", new_office_path, class: 'mt-3 btn btn-outline-primary bi bi-plus' %>
    </div>
    <h1></h1>

    <div id="users">
      <table id="table" data-height="500" data-toggle="table" data-search="true" data-height="500" data-pagination="true" data-search-accent-neutralise="true" class="table table-bordered table-striped" >
        <thead>
          <tr>
            <th scope="col">Nome do cargo</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @offices.each do |office| %>
            <tr>
              <td><%= office.name %></td>
              <td><%= link_to '', office, class: "btn btn-primary bi bi-eye" %></td>
              <td><%= link_to '', edit_office_path(office), class: "btn btn-primary bi bi-pencil-square" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>