<div class="container mt-3">
  <div class="row">
    <div class="col-9">
      <h3 class="mt-3">Novo registro de efetivos</h3>
    </div>
    <div class="col-3 text-end">
    </div>

<%= render "form", timesheet: @timesheet %>
<br>
    <div>
      <%= link_to "Voltar", sectionals_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>