<div class="modal modal-signin position-fixed d-block bg-white py-5" tabindex="-1" role="dialog" id="modalSignin">
    <div class="rol mt-2 ms-5 me-5">
        <div class="col-11">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active" data-bs-interval="5000">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-1 align-self-center">
                                    <h6 class="text-dark text-center">TI</h6>
                                </div>
                                <div class="col-md-11">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success btn-sm mb-1">Raphael Aversa | TI</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Hudson Rocha | TI</button>
                                        <button type="button" class="btn btn-danger btn-sm mb-1">Marcelo Junior | TI</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Orlando Junior | TI</button>
                                        <button type="button" class="btn btn-secondary btn-sm mb-1">Ricardo Coelho | TI</button>
                                        <button type="button" class="btn btn-info btn-sm mb-1">Fernando Cunha | TI</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Luiz Nascimento | TI</button>
                                        <button type="button" class="btn btn-dark btn-sm mb-1">Matheus Peres | TI</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Leony Coelho | TI</button>
                                        <button type="button" class="btn btn-primary btn-sm mb-1">Renato Arantes | TI</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-1 align-self-center">
                                    <h6 class="text-dark text-center">SHL</h6>
                                </div>
                                <div class="col-md-11">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success btn-sm mb-1">Coordenador de Hotelaria</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Assistente Administrativo Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Encarregada Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Encarregada Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Encarregada Plant. Noite</button>
                                        <button type="button" class="btn btn-primary btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-dark btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-info btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-secondary btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-danger btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-danger btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Serv. Ger. Plant. Noite</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item" data-bs-interval="5000">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-1 align-self-center">
                                    <h6 class="text-dark text-center">Rouparia</h6>
                                </div>
                                <div class="col-md-11">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success btn-sm mb-1">Encarregado Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Lavanderia Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Lavanderia Plantonista Dia</button>
                                        <button type="button" class="btn btn-danger btn-sm mb-1">Aux. Lavanderia Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Lavanderia Plantonista Dia</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Aux. Lavanderia Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Lavanderia Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Lavanderia Plantonista Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Lavanderia Plantonista Noite</button>
                                        <button type="button" class="btn btn-dark btn-sm mb-1">Aux. Lavanderia Plantonista Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Aux. Lavanderia Plantonista Noite</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-1 align-self-center">
                                    <h6 class="text-dark text-center">Maqueiro</h6>
                                </div>
                                <div class="col-md-11">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success btn-sm mb-1">Supervisor Administrativo</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-purple btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-danger btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Noite</button>
                                        <button type="button" class="btn btn-primary btn-sm mb-1">Maqueiro Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Maqueiro Noite</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-1 align-self-center">
                                    <h6 class="text-dark text-center">Agente de Portaria</h6>
                                </div>
                                <div class="col-md-11">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success btn-sm mb-1">Supervisor Administrativo</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Controlador de Acesso Diarista</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Controlador de Acesso Plantonista Dia</button>
                                        <button type="button" class="btn btn-primary btn-sm mb-1">Controlador de Acesso Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Controlador de Acesso Plantonista Dia</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Controlador de Acesso Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Controlador de Acesso Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Controlador de Acesso Plantonista Dia</button>
                                        <button type="button" class="btn btn-danger btn-sm mb-1">Controlador de Acesso Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Controlador de Acesso Plantonista Norturno</button>
                                        <button type="button" class="btn btn-danger btn-sm mb-1">Controlador de Acesso Plantonista Norturno</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Controlador de Acesso Plantonista Norturno</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Controlador de Acesso Plantonista Norturno</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Controlador de Acesso Plantonista Norturno</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Controlador de Acesso Plantonista Norturno</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-1 align-self-center">
                                    <h6 class="text-dark text-center">Recepção</h6>
                                </div>
                                <div class="col-md-11">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success btn-sm mb-1">Supervisor Administrativo</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Assistente Administrativo Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Assistente Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-info btn-sm mb-1">Assistente Administrativo Plantonista Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Noite</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Noite</button>
                                        <button type="button" class="btn btn-info btn-sm mb-1">Auxiliar Administrativo Plantonista Noite</button>
                                        <button type="button" class="btn btn-primary btn-sm mb-1">Auxiliar Administrativo Plantonista Noite</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-1 align-self-center">
                                    <h6 class="text-dark text-center">Clínicas</h6>
                                </div>
                                <div class="col-md-11">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success btn-sm mb-1">Assistente Administrativo Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-dark btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Noite</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-md-1 align-self-center">
                                    <h6 class="text-dark text-center">Emergência</h6>
                                </div>
                                <div class="col-md-11">
                                    <div class="card-body">
                                        <button type="button" class="btn btn-success btn-sm mb-1">Supervisor ADM</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Auxiliar Administrativo Diarista</button>
                                        <button type="button" class="btn btn-danger btn-sm mb-1">Auxiliar Administrativo Plantonista Dia 1</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia 2</button>
                                        <button type="button" class="btn btn-primary btn-sm mb-1">Auxiliar Administrativo Plantonista Dia 3</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia 4</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Dia 5</button>
                                        <button type="button" class="btn btn-warning btn-sm mb-1">Auxiliar Administrativo Plantonista Noite 1</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Noite 2</button>
                                        <button type="button" class="btn btn-info btn-sm mb-1">Auxiliar Administrativo Plantonista Noite 3</button>
                                        <button type="button" class="btn btn-success btn-sm mb-1">Auxiliar Administrativo Plantonista Noite 4</button>
                                        <button type="button" class="btn btn-secondary btn-sm mb-1">Auxiliar Administrativo Plantonista Noite 5</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Legenda</label>
                    
                    <div id="emailHelp" class="form-text">
                        <button type="button" class="btn btn-success btn-sm mb-1">Presença</button>
                        <button type="button" class="btn btn-danger btn-sm mb-1">Falta</button>
                        <button type="button" class="btn btn-warning btn-sm mb-1">Atraso</button>
                        <button type="button" class="btn btn-dark btn-sm mb-1">Atestado</button>
                        <button type="button" class="btn btn-primary btn-sm mb-1">INSS</button>
                        <button type="button" class="btn btn-info btn-sm mb-1">Férias</button>
                        <button type="button" class="btn btn-secondary btn-sm mb-1">Licença</button>
                        <button type="button" class="btn btn-purple btn-sm mb-1">Vacância</button>
                        <button type="button" class="btn btn-orange btn-sm mb-1">Saída Antecipada</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
